<section id="css_structure">
	<div class="page-header"><h3>CSS Structure</h3><hr class="notop"></div>
<p>
	<span style="color: rgb(56, 56, 56); font-family: Arial, verdana, arial, sans-serif; font-size: 14px;">Im using three css CSS files in this theme. The first one bootstrap.css. and next one style.css which for this template. For responsive I am using responsive.css file.And For Fix Css in am using fix.css file</span></p>
<p>
	<span style="color: rgb(56, 56, 56); font-family: Arial, verdana, arial, sans-serif; font-size: 14px;">If you would like to edit a specific section of the site, simply find the appropriate label in the css file, and then scroll down until you find the appropriate style that needs to be edited.</span></p>
<h5 style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-weight: 100; font-size: 16px; font-family: Arial, verdana, arial, sans-serif; vertical-align: baseline; color: rgb(56, 56, 56);">
	Also i am created section by section css file.</h5>
</section>
