<section id="javascript">
	<div class="page-header"><h3>Javascript</h3><hr class="notop"></div>
<h6 style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-weight: 100; font-size: 14px; font-family: Arial, verdana, arial, sans-serif; vertical-align: baseline; color: rgb(56, 56, 56);">
	This theme imports some Javascript files.</h6>
<h6 style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-weight: 100; font-size: 14px; font-family: Arial, verdana, arial, sans-serif; vertical-align: baseline; color: rgb(56, 56, 56);">
	&nbsp;</h6>
<h6 style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-weight: 100; font-size: 14px; font-family: Arial, verdana, arial, sans-serif; vertical-align: baseline; color: rgb(56, 56, 56);">
	jQuery</h6>
<h6 style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-weight: 100; font-size: 14px; font-family: Arial, verdana, arial, sans-serif; vertical-align: baseline; color: rgb(56, 56, 56);">
	My custom scripts</h6>
<h6 style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-weight: 100; font-size: 14px; font-family: Arial, verdana, arial, sans-serif; vertical-align: baseline; color: rgb(56, 56, 56);">
	Some plugin</h6>
<h6 style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-weight: 100; font-size: 14px; font-family: Arial, verdana, arial, sans-serif; vertical-align: baseline; color: rgb(56, 56, 56);">
	jQuery is a Javascript library that greatly reduces the amount of code that you must write.</h6>
<h6 style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-weight: 100; font-size: 14px; font-family: Arial, verdana, arial, sans-serif; vertical-align: baseline; color: rgb(56, 56, 56);">
	Most of the animation in this site is carried out from the customs scripts. There are a few functions worth looking over.</h6>
<h6 style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-weight: 100; font-size: 14px; font-family: Arial, verdana, arial, sans-serif; vertical-align: baseline; color: rgb(56, 56, 56);">
	&nbsp;</h6>
<h6 style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-weight: 100; font-size: 14px; font-family: Arial, verdana, arial, sans-serif; vertical-align: baseline; color: rgb(56, 56, 56);">
	[some Javascript goes here...along with an general explanation]</h6>
<h6 style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-weight: 100; font-size: 14px; font-family: Arial, verdana, arial, sans-serif; vertical-align: baseline; color: rgb(56, 56, 56);">
	[some Javascript goes here...along with an general explanation]</h6>
<h6 style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-weight: 100; font-size: 14px; font-family: Arial, verdana, arial, sans-serif; vertical-align: baseline; color: rgb(56, 56, 56);">
	[some Javascript goes here...along with an general explanation]</h6>
<h6 style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-weight: 100; font-size: 14px; font-family: Arial, verdana, arial, sans-serif; vertical-align: baseline; color: rgb(56, 56, 56);">
	&nbsp;</h6>
<h6 style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-weight: 100; font-size: 14px; font-family: Arial, verdana, arial, sans-serif; vertical-align: baseline; color: rgb(56, 56, 56);">
	In addition to the custom scripts, I implement a few &quot;tried and true&quot; plugins to create the effects. This plugin is packed, so you won&#39;t need to manually edit anything in the file. The only necessary thing to know is how to call the method. For example:</h6>
<h6 style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-weight: 100; font-size: 14px; font-family: Arial, verdana, arial, sans-serif; vertical-align: baseline; color: rgb(56, 56, 56);">
	&nbsp;</h6>
<h6 style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-weight: 100; font-size: 14px; font-family: Arial, verdana, arial, sans-serif; vertical-align: baseline; color: rgb(56, 56, 56);">
	I will do create js folder this is extra plugin folder all plugin is included.</h6>
<h6 style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-weight: 100; font-size: 14px; font-family: Arial, verdana, arial, sans-serif; vertical-align: baseline; color: rgb(56, 56, 56);">
	&nbsp;</h6>
<h6 style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-weight: 100; font-size: 14px; font-family: Arial, verdana, arial, sans-serif; vertical-align: baseline; color: rgb(56, 56, 56);">
	[some Javascript goes here...along with an general explanation]</h6>
</section>
