<section id="documenter_cover">
<h1>HABIBA</h1>
<h2>HABIBA-Portfolio Landing Page Template</h2>
<div id="documenter_buttons">

</div>
<hr>
<ul>
  <li>Created: 11/14/2016</li>
  <li>Latest update: 11/14/2016</li>
  <li>Desing by: Subrata Deb Nath</li>
  <li>E-mail: <a href="mailto:subrata6630@gmail.com"> Subrata6630@gmail.com</a></li>
  <li>Github:<a href="http://www.github.com/subrata6630"> Subrata Deb Nath</a></li>
  <li>Facebook:<a href="http://www.fb.com/subrata6631"> Subrata Deb Nath</a></li>
</ul>

<h6>HABIBA Landing Page design is a creative & clean app landing page design.Easy to use the Portfolio landing page design for any portfolio running on the market. It has a version that displays three platforms (Graphic, Web Design & Development , App Developer) in a beautiful way.</h6>
</section>
